- 
    var mainSize = 'size';
    var mainweight = 'bold';
    var fontFamily = 'family';
    var color = 'color';
    var border = 'border';
    var themeName = 'Amir Diafi';
    var bold = '<b>Amir Bold</b>'